div {
  border: 3px solid #000;
}

div.static {
  position: static;
}

div.relative {
  position: relative;
  border-color: pink;

  top: 10px;
  left: 40px;
}

div.absolute {
  position: absolute;
  border-color: aqua;

  width: 500px;
  height: 500px;

  top: 10%;
  right: 10%;
}
